<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <title>canvas绘图板</title>
    <link rel="stylesheet" href="css/paper.min.css">
    <link rel="stylesheet" href="css/Initialize.css">
    <style>
        canvas {
            border: 1px dashed black;
        }

        #nav li {
            display: inline;
            font-size: 20px;
            margin-left: 40px;
        }

        .fl {
            float: left;
        }

        button {
            width: 100px;
            height: 45px;
            background: url("img/画笔.png") no-repeat;
            border-style: none;
        }
    </style>
    <script type="text/javascript" src="js/canvas.js"></script>
</head>

<body>
    <div class="The menu">
        <button>园</button>
        <canvas id="drawingCanvas">你的浏览器不支持canvas</canvas>
        <!-- <div align="center">
        <ul id="nav">
            <li>矩形</li>
            <li>圆</li>
            <li>颜色<input type="color" id="colorSelect" onchange="changeColor(colorSelect.value,this);"
                    value="rgb(255,255,255)" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>粗细<input type="range" id="widthSelect" onchange="context.lineWidth=widthSelect.value;" min="1" max="20"
                    value="5" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>橡皮擦<input type="range" id="eraser" onchange="context.lineWidth=widthSelect.value;" min="1" max="20"
                    value="5" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li> <button id="clearCanvas" onclick="clearCanvas();">清除</button></li>
        </ul>
        <br /> -->
        <!-- </div> -->
</body>

</html>